<html>
<h3>Insert new delivery here:</h3>
<form id="adddelivery" action="/delivery" method="post">
    Order ID: <select name='order_id' required>
        {{#each order}}
          <option value='{{id}}'>{{id}}</option>
        {{/each}}
    </select>
    <br>
    Delivery Status: <select name='delivery_status' required>
          <option type="text" value='Order processing'>Order processing</option>
          <option type="text" value='In transit'>In transit</option>
          <option type="text" value='Complete'>Complete</option>
    </select>
    <br>
    Delivery Date: <input type="date" name="delivery_date" required><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current deliveries:</h3>
<table>
    <thead>
        <tr>
            <th>Delivery ID</th>
            <th>Order ID</th>
            <th>Delivery Status</th>
            <th>Delivery Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each delivery}}
        <tr>
            <td>{{id}}</td>
            <td>{{order_id}}</td>
            <td>{{delivery_status}}</td>
            <td>{{delivery_date}}</td>
            <td><button onclick="deleteDelivery({{id}})">Delete</button></td>
            <td><a href="/delivery/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script type="text/javascript">

    function deleteDelivery(id){
        $.ajax({
            url: '/delivery/' + id,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true);
            }
        })
    };

</script>

</html>
