<html>
<h3>Place new order here:</h3>
<form id="addorder" action="/order" method="post">
    Customer ID: <select name='customer_id' required>
        {{#each customer}}
          <option value='{{id}}'>{{first_name}} {{last_name}}</option>
        {{/each}}
    </select>
    <br>
    Order Placed: <input type="date" name="order_placed" required><br>
    Total Due: <input type="number" step="0.01" name="total_due" required min="0.00"><br>
    Payment Method: 
        <input type="radio" name="payment_method" id="paypal" maxlength="100" value="PayPal" required>
        <label for="paypal">PayPal</label>
        <input type="radio" name="payment_method" id="credit_card" maxlength="100" value="Credit Card" required>
        <label for="credit_card">Credit Card</label><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<!---
<form id='search_order' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend --
    <label>Search for orders by customer ID: </label>
    <input id='cid_search_string' type='text' name='cid_search_string' value=''>
    <input type="button" value="Search" onclick="searchOrderByCID()">
</form>
-->

<h3>Current orders:</h3>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Order Placed</th>
            <th>Total Due</th>
            <th>Payment Method</th>
        </tr>
    </thead>
    <tbody>
        {{#each order}}
        <tr>
            <td>{{id}}</td>
            <td>{{customer_id}}</td>
            <td>{{order_placed}}</td>
            <td>{{total_due}}</td>
            <td>{{payment_method}}</td>
            <td><button onclick="deleteOrder({{id}})">Delete</button></td>
            <td><a href="/order/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script type="text/javascript">

    function deleteOrder(id){
        $.ajax({
            url: '/order/' + id,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true);
            }
        })
    };

    function searchOrderByCID(){
        //get the first name 
        var cid_search_string  = document.getElementById('cid_search_string').value;
        //construct the URL and redirect to it
        window.location = '/order/search/' + encodeURI(cid_search_string);
    };

</script>

</html>
