<html>
<h3>Place new order_product here:</h3>
<form id="addorder_product" action="/order_product" method="post">
    Order ID: <select name='order_id' required>
        {{#each order}}
          <option value='{{id}}'>{{id}} ({{first_name}} {{last_name}})</option>
        {{/each}}
    </select>
    <br>
    Product ID: <select name='product_id' required>
        {{#each product}}
          <option value='{{id}}'>{{id}} ({{product_name}})</option>
        {{/each}}
    </select>
    <br>
    Quantity: <input type="number" name="quantity" required min="0"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<!---
<form id='search_order' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend --
    <label>Search for orders by customer ID: </label>
    <input id='cid_search_string' type='text' name='cid_search_string' value=''>
    <input type="button" value="Search" onclick="searchOrderByCID()">
</form>
-->

<h3>Current order_products:</h3>
<table>
    <thead>
        <tr>
            <th>Order_Product ID</th>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each order_product}}
        <tr>
            <td>{{id}}</td>
            <td>{{order_id}}</td>
            <td>{{product_id}}</td>
            <td>{{quantity}}</td>
            <td><button onclick="deleteOrderProduct({{id}})">Delete</button></td>
            <td><a href="/order_product/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script type="text/javascript">

    function deleteOrderProduct(id){
        $.ajax({
            url: '/order_product/' + id,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true);
            }
        })
    };

</script>

</html>
