<html>
<h3>Insert new supplier here:</h3>
<form id="addsupplier" action="/supplier" method="post">
    Supplier Name: <input type="text" name="supplier_name"><br>
    Supplier Quantity: <input type="number" name="supplier_quantity"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3>Current suppliers:</h3>
<table>
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Supplier Name</th>
            <th>Supplier Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each supplier}}
        <tr>
            <td>{{id}}</td>
            <td>{{supplier_name}}</td>
            <td>{{supplier_quantity}}</td>
            <td><button onclick="deleteSupplier({{id}})">Delete</button></td>
            <td><a href="/supplier/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script type="text/javascript">

    function deleteSupplier(id){
        $.ajax({
            url: '/supplier/' + id,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true);
            }
        })
    };

</script>

</html>
