<html>
<h1> Update Product #{{product.id}}:</h1>
<form id="update-product" action="/product" method = "post">
    Supplier ID: <input type="number" name="supplier_id" value="{{product.supplier_id}}"><br>
    Product Name: <input type="text" name="product_name" value="{{product.product_name}}"><br>
    Product Stock: <input type="number" name="product_stock" value="{{product.product_stock}}"><br>
    Price: <input type="number" step="0.01" name="price" value="{{product.price}}"><br>
</form>
<button onclick="updateProduct({{product.id}})">Update</button>
<script type="text/javascript">
    
    function updateProduct(id){
        $.ajax({    
            url: '/product/' + id,
            type: 'PUT',
            data: $('#update-product').serialize(),
            success: function(result){
                window.location.replace("./");
            }
        })
    };
</script>
</html>