<html>
<h1> Update Order #{{order.id}}:</h1>
<form id="update-order" action="/order" method = "post">
    Customer ID: <select name='customer_id'>
        {{#each customer}}
          <option value='{{id}}'>{{first_name}} {{last_name}}</option>
        {{/each}}
    </select>
    <br>
    Order Placed: <input type="date" name="order_placed" value="{{order.order_placed}}" required><br>
    Total Due: <input type="number" step="0.01" name="total_due" value="{{order.total_due}}" required min="0.00"><br>
    Payment Method: 
        <input type="radio" name="payment_method" id="paypal" maxlength="100" value="PayPal" required>
        <label for="paypal">PayPal</label>
        <input type="radio" name="payment_method" id="credit_card" maxlength="100" value="Credit Card" required>
        <label for="credit_card">Credit Card</label><br>
</form>
<button onclick="updateOrder({{order.id}})">Update</button>
<script type="text/javascript">
    
    function updateOrder(id){
        $.ajax({
            url: '/order/' + id,
            type: 'PUT',
            data: $('#update-order').serialize(),
            success: function(result){
                window.location.replace("./");
            }
        })
    };
</script>
</html>