<html>
<h1> Update Delivery #{{delivery.id}}:</h1>
<form id="update-delivery" action="/delivery" method = "post">
    Order ID: <select name='order_id' required>
        {{#each order}}
          <option value='{{id}}'>{{id}}</option>
        {{/each}}
    </select>
    <br>
    Delivery Status: <select name='delivery_status' required>
          <option type="text" value='Order processing'>Order processing</option>
          <option type="text" value='In transit'>In transit</option>
          <option type="text" value='Complete'>Complete</option>
    </select>
    <br>
    Delivery Date: <input type="date" name="delivery_date" value="{{delivery.delivery_date}}" required><br>
</form>
<button onclick="updateDelivery({{delivery.id}})">Update</button>
<script type="text/javascript">
    
    function updateDelivery(id){
        $.ajax({    
            url: '/delivery/' + id,
            type: 'PUT',
            data: $('#update-delivery').serialize(),
            success: function(result){
                window.location.replace("./");
            }
        })
    };

</script>
</html>